*{
    margin: 0px;
    padding: 0;
}

main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    background-color: rgb(224, 207, 207);

}

.player, .story{
    width: 40%;
    text-align: center;
}  

.player{
    font-size: 18px;
    background: rgba(255, 255, 255, 0.2);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);

    overflow: hidden;
}

.player h1{
    font-family: "Fjalla One", sans-serif;
    margin: 20px 0;
}

.player .album-cover{
    border-radius: 50px;
    width: 50%;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}

.year{
    font-family: "Viga", sans-serif;
    border-bottom: 2px solid black;
}

.story{
    background: rgba(255,255,255,0.2);
    padding: 30px;
    border-radius: 30px;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
}

.story p{
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
}

.btn-player{
    font-family: Arial, sans-serif;
    font-size: 20px;
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    
    margin: 10px 5px;
}

.btn-player:hover{
    transform: scale(1.1);
}

footer{
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

footer a{
    color: black;
    transition: 0.2s;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: rgb(66, 0, 75);
}